<a id="top"></a>
<div align="center">
<img src="/images/mobile/title.gif" alt="ぼくこよ" >
</div>
<br><br>
<img src="/images/mobile/ph-code.gif"><br>
<BR>
メールアドレスの認証が完了しました。	以降、認証の必要はありません。<BR>
ぼくこよライフをお楽しみ下さい。<BR>
<BR>
<font size="2">
→<a href="/">ぼくこよTOPﾍﾟｰｼﾞに戻る</a>
</font>
<br><br>

<%= render :partial=> 'mobile/menu' %>