
<div align="center" style="margin-top: 10px" class="info_modal_message">
	Google Calendar へ情報を登録しました。
</div>

<div align="center" style="margin-top: 20px">
	<img class="buttonImg" src="/images/niceforms/button_left.gif"><input style="font-weight: bold; margin:0px auto;" id="submit" type="button" name="post" class="buttonSubmit" value="閉じる" class="btn" onclick="Modalbox.hide();return false;" /><img class="buttonImg" src="/images/niceforms/button_right.gif"><br />
</div>