<div align="right">
<font size="2">[<%= link_to'端末コード登録', :action => 'ident_reg' %>]<br>
[<%= link_to'端末コード解除', :action => 'ident_cancel_confirm' %>]</font><br>
</div>
<font size="1">端末コードを登録すると送信先等の設定が保存できます</font>
<br><br>