<%= render :partial=> 'header' %>

<br><br>
<%= mobile_image_tag 'ph-code.gif' %><br>
<BR>
ご利用の端末コード登録を解除しました。<BR>
<BR>
<font size="2">
→<a href="/">ぼくこよTOPページに戻る</a>
</font>
<br><br>

<%= render :partial=> 'menu' %>