<%= render :partial=> 'header' %>

<br><br>
<%= mobile_image_tag 'ph-entry.gif' %><br>
<BR>
イベント登録が完了しました。<BR>
ありがとうございます。<BR>
<BR>
素敵なイベントになりますように。<BR>
<BR>
<font size="2">
→<%= link_to'さっそくイベントを登録する', :action => 'entry' %><BR>
→<a href="/">ぼくこよTOPページに戻る</a>
</font>
<br><br>

<%= render :partial=> 'menu' %>