
ぼくこよへのイベント登録ありがとうございます。
このメールは初回イベント登録時にメールアドレスを確認するために送付しています。
※メールアドレス認証後はこのメールは送信されません。

■メールアドレスの認証は↓をクリックすると完了します。

【メールアドレスの認証はこちらから】
http://<%= APP_CONFIG[:domain] %>/auth/regist/<%= @auth_info.invite_code %>

このメールに心当たりのないお客様は、お客様側でキャンセルの手続きをおこっていただく必要はありません。
期限が切れると削除されます。

--
ぼくこよプロジェクト
◯お問い合わせ
 support@bokukoyo.drecom.jp
 ※このメールには返信できません。
(C)Drecom. Inc	