
ぼくこよ端末コード登録のメール送信ありがとうございます。
登録はまだ終了していません

■ぼくこよ端末コード登録は↓をクリックするとメールアドレス登録が完了し次のステップに進みます。

【アクセスURL】
http://<%= APP_CONFIG[:domain] %>/m/setup/<%= @auth_info.invite_code %>

※このメールには返信できません。

--
ぼくこよプロジェクト
◯お問い合わせ
 support@bokukoyo.drecom.jp
 ※このメールには返信できません。
(C)Drecom. Inc