<div id="container">
	<div id="logo">
		<img src="/images/title.gif" alt="ぼくこよ" /></div>
	<h1>ぼくこよ</h1>
	<h2>イベントリマインダーメールサービス</h2>
	<div id="gloval-navi">
		<!--ここにナビゲーションが入ります -->
	</div>
	<div class="cl"></div>
	
	<%= render :partial=> 'post/entry' %>
	
</div>