<a id="top"></a>
<div align="center">
<img src="/images/mobile/title.gif" alt="ぼくこよ" >
</div>
<br><br>
<img src="/images/mobile/ph-code.gif"><br>
<BR>
認証の処理に問題が発生しました。<BR>
<% for name in [:notice, :warning, :message] %>
   <% if flash[name] %>
     <%= "#{flash[name]}" %>
   <% end %>
<% end %><br />
<BR>
<br><br>

<%= render :partial=> 'mobile/menu' %>
