<a id="top"></a>
<div align="center">
<img src="/images/mobile/title.gif" alt="ぼくこよ" >
</div>
<br><br>
<img src="/images/mobile/ph-code.gif"><br>
<BR>
端末ｺｰﾄﾞ登録が完了しました。<BR>
ありがとうございます。<BR>
<BR>
<font size="2">
→<%= link_to'さっそくｲﾍﾞﾝﾄを登録する', :controller=> 'mobile', :action => 'entry' %></a><BR>
→<a href="/">ぼくこよTOPﾍﾟｰｼﾞに戻る</a>
</font>
<br><br>

<%= render :partial=> 'mobile/menu' %>