<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=shift_jis">
<title>ぼくこよ</title>
</head>

<body bgcolor="#ffffff" link="#4682b4" alink="#4169e1" vlink="#4169e1" text="#708090">

<%= @content_for_layout %>

<div align="center"><img src="/images/mobile/pbmfps.gif"><br>
<font size="1">(C)DRECOM</font></div>
</body>
</html>
